<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{general/fragmentos :: head}"></head>
    <body style="background: url('https://png.pngtree.com/thumb_back/fh260/background/20231227/pngtree-high-resolution-background-featuring-silver-metal-brushed-aluminum-texture-for-design-image_13850077.png') no-repeat center center fixed; background-size: cover; min-height: 100vh;">
        <header th:replace="~{general/fragmentos :: header}"></header>

        <div class="container mt-5">
            <section th:replace="~{promocion/fragmentos :: editar}"></section>
            <section th:replace="~{general/fragmentos :: mostrarToast}"></section>
        </div>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>